# ---- OS ----
.DS_Store

# ---- Python ----
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# ---- Env files ----
.env
.env.*
!.env.example
!.example.env

# ---- Node ----
node_modules/
dist/
*.log
*.tsbuildinfo

# ---- IDE ----
.vscode/
.idea/
